<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="description" content="美剧《办公室》中国站">
    <meta name="keywords" content="The Office,办公室,美剧办公室,办公室美剧">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>The Office 办公室 中国站</title>
</head>
<style>
    .root {
        max-width: 40rem;
        padding: 0;
    }

    .content {
        padding: 1rem 1.3rem;
    }

    .product-artwork {
        width: 100%;
    }

    .season-desc {
        margin-top: 1rem;
    }

    .n-link {
        color: grey;
    }

    .section__subheadline {
        font-size: 0.8em;
    }

    .season-desc-details {
        color: #555555;
        font-size: 0.8em;
    }

    ul li {
        border-bottom: 1px;
        color: red;
    }

    .episode-block {
        padding: 1rem 0;
        border-bottom: 1px solid lightgray;
    }

    .scrolling-wrapper {
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        margin: 0 0 1rem;
    }

    .scrolling-wrapper .card {
        display: inline-block;
        border: none;
    }

    .scrolling-wrapper-flexbox {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
    }

    .scrolling-wrapper-flexbox .card {
        flex: 0 0 auto;
    }

    .card {
        width: 100px;
        height: 100px;
        margin-right: 5px !important;
    }

    .scrolling-wrapper,
    .scrolling-wrapper-flexbox {
        width: 100%;
        -webkit-overflow-scrolling: touch;
    }
</style>
<body>

<div class="container root">
    <nav class="navbar sticky-top navbar-light bg-light">
        <div class="navbar-collapse">
            <a class="navbar-brand" href="#">The Office 办公室</a>
            <a class="n-link" href="#" tabindex="-1" aria-disabled="true">关于中国站</a>
            <a class="n-link" href="#" tabindex="-1" aria-disabled="true" style="margin-left: 1rem;">捐助</a>
        </div>
    </nav>
    <!-- Content here -->
    <div class="content">
        <div class="scrolling-wrapper">
        </div>
        <div style="margin: 1rem 0; border-bottom: 1px solid lightgray;"></div>
        <div class="row">
            <div class="col">
                <img id="season-album" class="product-artwork"
                     src=""
                     style="border-radius:.5rem!important;" alt="">
            </div>
            <div class="col-7" style="padding-left: 0;">
                <h5 id="season-title" class=""></h5>
                <div>
                    <div class="d-inline">
                        <svg style="vertical-align: baseline;" viewBox="0 0 39 15" height="15"
                             xmlns="http://www.w3.org/2000/svg"
                             class="badge-asset badge-asset--small-medium badge-asset--us-tv-14"
                             aria-label="TV 14">
                            <path d="M3.03.06c10.8 0 21.6-.14 32.4 0 1.53.06 2.1.62 2.42.88.35.3 1.07 1.13 1.13 2.03.06 2.98 0 5.96 0 8.94-.04 1.81-2.03 2.93-3.56 2.99-10.82.13-21.65.14-32.47 0a3.1 3.1 0 0 1-2.92-2.92c-.04-3-.04-6 0-9a3.09 3.09 0 0 1 3-2.92zm-.06.93A2.14 2.14 0 0 0 .95 3c-.04 2.98-.04 5.97 0 8.96.05 1.08 1 2 2.08 2.01 10.79 0 21.58.13 32.37 0 1.24-.05 2.58-.86 2.65-2.02.06-2.98.06-5.96 0-8.94-.07-1.12-1.34-1.94-2.6-2.02h-.05C24.6.85 13.78.85 2.97.99z"
                                  fill="#8e8e93"></path>
                            <path d="M8.11 11.42V4.94h2.3V3.58H4.17v1.36h2.3v6.48H8.1zm7.34 0l2.64-7.84h-1.8l-1.8 6.15h-.03l-1.8-6.15h-1.84l2.64 7.84h1.99zm6.71-2.45V7.59H18.6v1.38h3.57zm2.96 2.45h1.62V3.58h-1.63L23.08 5v1.48l2-1.38h.03v6.33zm7.13 0h1.56v-1.4h1.02v-1.3h-1.02V3.57H31.5a51.86 51.86 0 0 0-3.15 5.05v1.4h3.9v1.39zm-2.47-2.7c.74-1.38 1.56-2.7 2.47-3.98h.03v4.02h-2.5v-.04z"
                                  fill="#8e8e93"></path>
                        </svg>
                    </div>
                    <div class="d-inline" style="margin-left: 1rem;">
                        <object data="https://itunes.apple.com/assets/images/badges/HD-37d1d7ccaa33ae5e9cf0c9ef3065ef4e.svg"
                                type="image/svg+xml"></object>
                    </div>
                    <div class="d-inline">
                        <object data="https://itunes.apple.com/assets/images/badges/CC-2f7dac355007c6b3005c44335084a2aa.svg"
                                type="image/svg+xml"></object>
                    </div>
                </div>
                <div style="color: grey; font-size: 0.8em;">
                    <div class="d-inline">
                        <span>
                            Comedy
                        </span>
                    </div>
                    <div class="d-inline" style="margin: 0 0.3rem">
                        <span>
                            ·
                        </span>
                    </div>
                    <div class="d-inline">
                        <span id="season-release-year"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="season-desc">
            <h6 class="">Description</h6>
            <div class="">
                <p id="season-desc-p" class="season-desc-details"></p>
            </div>
        </div>
        <div class="episodes">
            <div class="episode-block" style="padding: 0!important;"></div>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.1.1.min.js"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
<script>
    $.getJSON("../data/data.json", function(seasons) {
        console.log(seasons);
        $.each(seasons, function (index, season) {
            console.log(season)
            $(".scrolling-wrapper").append(
                '<div class="card">' +
                    '<a href="?s=' + (index + 1) + '">' +
                        '<img class="img-fluid" src="' + season['album_url'] + '" style="border-radius:.4rem!important;" alt="">' +
                        '<div style="font-size: .9em; font-weight: lighter;">' + season['title'] + '</div>' +
                        '<div style="font-size: .8em; font-weight: lighter; color: grey;">' + season['release_year'] + '</div>' +
                    '</a>' +
                '</div>'
            );
        });

        let searchParams = new URLSearchParams(window.location.search)
        let season = searchParams.get('s')
        console.log(season)
        if (!season) {
            season = 1;
        }

        season = seasons[season-1];
        $("#season-album").attr("src", season['album_url']);
        $('#season-title').html("The Office, " + season['title']);
        $('#season-desc-p').html(season['description']);
        $('#season-release-year').html(season['release_year']);

        let episodes = season['episodes']
        $.each(episodes, function (index, episode) {
            console.log(episode)
            $(".episodes").append(
                '<div class="episode-block">\n' +
                '                <div class="row">\n' +
                '                    <div class="col">\n' +
                '                        <img class="img-fluid"\n' +
                '                             src="' + episode['album_url'] + '"\n' +
                '                             style="border-radius:.4rem!important; width: 100%" alt="">\n' +
                '                    </div>\n' +
                '                    <div class="col-7" style="padding-left: 0;">\n' +
                '                        <h6 style="font-size: .7em; color: grey">EPISODE ' + episode['number'] + '</h6>\n' +
                '                        <h6 style="font-size: .9em;">' + episode['title'] +'</h6>\n' +
                '                        <h6 style="font-size: .9em;">' + episode['title_cn'] +'</h6>\n' +
                '                        <h6 style="font-size: .7em; color: grey; font-weight: lighter;">' + episode['release_date'] + ' · ' + episode['duration'] + ' Minutes </h6>\n' +
                '                    </div>\n' +
                '                </div>\n' +
                '                <div style="margin-top: .4rem; font-size: .8em; color: #8e8e93; height: 60px; overflow: hidden; white-space: normal; text-overflow: ellipsis; font-weight: lighter;">\n' +
                '                    <span>' + episode['description'] + '</span>\n' +
                '                </div>\n' +
                '            </div>'
            );
        })
    });
</script>
</html>
